 .main {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  
  .cell {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    color: rgba(0,0,0,0.92);
    user-select: none;  
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #eee;
    
    height: 100%;
    transform-origin: center bottom;
  }
  
  .cell-content {}
  
  .picker {
    position: relative;
    overflow: hidden;  
    width: 80vw; //225px;
    height: 90vh;
    border-radius: 2px;
    background-color: #fff;  
    box-shadow: 
      0 2px 4px -1px rgba(0,0,0,.2), 
      0 4px 5px 0 rgba(0,0,0,.14), 
      0 1px 10px 0 rgba(0,0,0,.12);
  }
  