<div class="main">
  <div id="picker" class="picker">
    <div class="cell">
      <div class="cell-content">Card 1</div>
    </div>     
    <div class="cell">
      <div class="cell-content">Card 2</div>
    </div>  
    <div class="cell">
      <div class="cell-content">Card 3</div>
    </div>  
    <div class="cell">
      <div class="cell-content">Card 4</div>
    </div>  
    <div class="cell">
      <div class="cell-content">Card 5</div>
    </div>  
    <div class="cell">
      <div class="cell-content">Card 6</div>
    </div> 
    <div class="cell">
      <div class="cell-content">Card 7</div>
    </div> 
    <div class="cell">
      <div class="cell-content">Card 8</div>
    </div> 
  </div>  
</div>
